body{
    header{
        .navAmeri{
            height: 4rem;
            background: #48cae4 !important;
            div{
                div{
                    justify-content: center;
                }
            }
            ul{
                font-size: 3rem;
                font-family: "Annapurna SIL", serif;
        
                      
            }
        }
    }
    main{
        .conteinerAmeri{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 300px;
            grid-template-areas: 
            "ameri des";
            .tituloAmeri{
                grid-area: ameri;
                .imgAmeri{
                    font-size: 8rem;
                    margin-left: 23rem;
                    margin-top: 10rem;
                    font-family: "Annapurna SIL", serif;
                    text-shadow: -1px 1px 2px rgba(72,202,228,0.6);
                }
            }
            .tituloA{
                grid-area: des;
                padding: 1rem;
                margin-left: 6rem;          
                height: 28rem;
                margin-top: -1rem;
                .desc{
                    font-size: 2rem;
                    text-align: justify;
                    width: 54rem;
                    color: black;
                    margin-left: 2rem;
                    margin-top: 2rem;
                    font-family: "Playfair Display", serif;
                    text-shadow: -1px 1px 7px rgba(0,0,0,0.6);
                    .why{
                        margin-left: 19rem;
                        margin-top: -2rem;
                    }
                }
             
                .ti{
                    font-size: 3.5rem;
                    margin-left: 22rem;
                    color: black;
                    text-shadow: -1px -1px 24px rgba(0,0,0,0.57);
                }
            }
            .video{
                grid-area: video;
                .edit{
                    margin-left: 20rem;
                    padding-top: 1rem;
                    border-radius: 15px 15px 15px 15px;
                    -webkit-border-radius: 15px 15px 15px 15px;
                    -moz-border-radius: 15px 15px 15px 15px;
                    box-shadow: -1px 1px 48px 0px rgba(144,224,239,0.75);
                    -webkit-box-shadow: -1px 1px 48px 0px rgba(144,224,239,0.75);
                    -moz-box-shadow: -1px 1px 48px 0px rgba(144,224,239,0.75);
                    margin-top: 3rem;
                }
            }
            .adelantos{
                grid-area: adelantos;
                .AdeTi{
                    font-size: 3rem;
                    margin-left: 25rem;
                    color: white;
                    text-shadow: -1px -1px 24px rgba(0,0,0,0.57);
                }
            }
            .textoA{
                grid-area: tex;
                .textomeri{
                    font-size: 2rem;
                    margin-left: 20rem;
                    width: 39rem;
                    margin-top: -15rem;
                    color: black;
                    text-shadow: -1px -1px 24px rgba(0,0,0,0.57);
                }
            }
        }
        .temasA{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 300px;
            grid-template-areas: 
            "nom nom"
            "spo spo"
            "datos datos";
            margin-bottom: 1rem;
            .gridNombre{
                grid-area: nom;
                .nombreTema{
                    margin-left: 39rem;
                    width: 77rem;
                    height: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 3rem;
                    font-size: 5rem;
                    font-family: "Annapurna SIL", serif;
                    text-shadow: -1px 1px 2px rgba(157,2,8,0.6);
                }
            }
            .gridTema{
                grid-area: spo;
                .smset{
                    padding: 1rem;
                    margin-left: 36rem;
                    margin-top: -19rem;
                }
            }
            .gridDatos{
                grid-area: datos;
                font-size: 2rem;
                margin-left: 38rem;
                margin-top: -11rem;
                margin-bottom: 1rem;
                color: black;
                font-family: "Playfair Display", serif;
                text-shadow: 2px -1px 4px rgba(0,0,0,0.6);
            }
        }
   }
   .footerAmeri{
    background: rgb(0,180,216);
        background: linear-gradient(180deg, rgba(0,180,216,1) 0%, rgba(6,105,121,1) 62%);
   }
}