body{
    main{
        .galeria{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 300px;
            grid-template-areas:
            "f1 f2 f3"
            "f4 f5 f5"
            "f6 f7 f8"
            "f9 f10 f8"
            "f11 f11 f12"
            "f13 f14 f15"
            "f16 f17 f17";
            margin-bottom: 2rem;
            gap: 8rem;
            .f1{
                grid-area: f1;
                
                .imagen1{
                    width: 37rem;
                    height: 37rem;
                    margin-left: 8rem;
                    border: 7px outset #9b2226;
                }
            }
            .f2{
                grid-area: f2;
                .imagen2{
                    width: 37rem;
                    height: 37rem;
                    margin-left: -6rem;
                    border: 7px outset #9b2226;
                }
            }
            .f3{
                grid-area: f3;
                .imagen3{
                    width: 37rem;
                    height: 37rem;
                    border: 7px outset #9b2226;
                    margin-left: -12rem;
                }
            }
            .f4{
                grid-area: f4;
                .imagen4{
                    width: 37rem;
                    height: 39rem;
                    margin-left: 2rem;
                    border: 7px outset #9b2226;
                }
            }
            .f5{
                grid-area: f5;
                .imagen5{
                    width: 83.7rem;
                    height: 39rem;
                    margin-left: -12.4rem;
                    border: 7px outset #9b2226;
                }
            }
            .f6{
                grid-area: f6;
                .imagen6{
                    width: 37rem;
                    height: 37rem;
                    margin-left: 2rem;
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                }
            }
            .f7{
                grid-area: f7;
                .imagen7{
                    width: 37rem;
                    height: 37rem;
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                    margin-left: -12rem;
                }
            }
            .f8{
                grid-area: f8;
                .imagen8{
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                    width: 44rem;
                    height: 52rem;
                    margin-left: -16rem;
                }
            }
            .f9{
                grid-area: f9;
                .imagen9{
                    width: 37rem;
                    height: 37rem;
                    margin-left: 2rem;
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                }
            }
            .f10{
                grid-area: f10;
                .imagen10{
                    width: 37rem;
                    height: 37rem;
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                    margin-left: -12rem;
                }
            }
            .f11{
                grid-area: f11;
                .imagen11{
                    width: 83.6rem;
                    height: 50rem;
                    border: 7px outset #9b2226;
                    margin-top: -6rem;
                    margin-left: 2rem;
                }
            }
            .f12{
                grid-area: f12;
                .imagen12{
                    width: 44rem;
                    height: 50rem;
                    border: 7px outset #9b2226;
                    margin-top: -30rem;
                    margin-left: -12rem;
                }
            }
            .f13{
                grid-area: f13;
                .imagen13{
                    width: 44rem;
                    height: 43rem;
                    border: 7px outset #9b2226;
                    margin-left: 2rem;
                    margin-top: -6rem;
                }
            }
            .f14{
                grid-area: f14;
                .imagen14{
                    width: 44rem;
                    height: 43rem;
                    border: 7px outset #9b2226;
                    margin-left: -6rem;
                    margin-top: -6rem;
                }
            }
            .f15{
                grid-area: f15;
                .imagen15{
                    width: 44rem;
                    height: 55rem;
                    border: 7px outset #9b2226;
                    margin-left: -12rem;
                    margin-top: -30rem;
                }
            }
            .f16{
                grid-area: f16;
                .imagen16{
                    width: 44rem;
                    height: 43rem;
                    border: 7px outset #9b2226;
                    margin-left: 2rem;
                    margin-top: -6rem;
                }
            }
            .f17{
                grid-area: f17;
                .imagen17{
                    width: 83rem;
                    height: 48rem;
                    border: 7px outset #9b2226;
                    margin-left: -6rem;
                    margin-top: -6rem;
                }
            }
        }
    }
}