body{
    header{
        .navtr2{
            height: 4rem;
            background: rgb(64,61,57);
            background: radial-gradient(circle, rgba(64,61,57,1) 85%, rgba(37,36,34,1) 100%);
            
            div{
                div{
                    justify-content: center;
                }
            }
            ul{
                font-size: 3rem;
                font-family: "Annapurna SIL", serif;
                li{
                    a{
                        color: white;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    main{
        .areaT{
            .tiTR2{
                font-size: 5rem;
                margin-left: 40rem;
                margin-bottom: 2.5rem;
                text-shadow: 4px 0px 13px rgba(115,93,120,0.6);
                color: #e8c2ca;
            }
        }
        .album{

        }
        .areatex{
            .texTR2{
                font-size: 2rem;
                color: white;
                width: 60rem;
                margin-left: 32rem;
                padding: 2rem;
                margin-top: 12rem;
                text-align: justify;
                font-family: "Annapurna SIL", serif;
            }
        }
    }
    .footerTR2{
        background: rgb(64,61,57);
            background: radial-gradient(circle, rgba(64,61,57,1) 85%, rgba(37,36,34,1) 100%);
    }
}