body{
    header{
        .navvivo{
            height: 4rem;
            background: rgb(202,240,248);
            background: radial-gradient(circle, rgba(202,240,248,1) 85%, rgba(255,232,214,1) 100%);
            div{
                div{
                    justify-content: center;
                }
            }
            ul{
                font-size: 3rem;
                font-family: "Annapurna SIL", serif;
        
                      
            }
        }
    }
    main{
        .conteiner{
            .areaT{
                .vivoTI{
                    font-size: 4rem;
                    margin-left: 42rem;
                    width: 53rem;
                    color: black;
                    text-shadow: 1px -2px 10px rgba(202,240,248,0.6);
                    
                }
            }
            .album{

            }
            .areatex{
                .texVivo{
                    font-size: 2rem;
                    margin-left: 35rem;
                    width: 49rem;
                    padding: 3rem;
                    background: rgb(202,240,248);
                    box-shadow: 0px 3px 28px 0px rgba(202,240,248,0.75);
                    -webkit-box-shadow: 0px 3px 28px 0px rgba(202,240,248,0.75);
                    -moz-box-shadow: 0px 3px 28px 0px rgba(202,240,248,0.75);
                    border-radius: 13px 13px 13px 13px;
                    -webkit-border-radius: 13px 13px 13px 13px;
                    -moz-border-radius: 13px 13px 13px 13px;
                    margin-top: 5rem;
                    text-align: justify;
                    font-family: "Annapurna SIL", serif;
                }
            }
        }
    }
    .footervivo{
        background: rgb(202,240,248);
            background: radial-gradient(circle, rgba(202,240,248,1) 85%, rgba(255,232,214,1) 100%);
    }
}